h1{
  color: green;
  font
}
body{
  background-color: black;
  color: #ffffff;
  font-family: Verdana;
  font-size:20px;
  margin: 0
}

.container{
  width:80%;
  maring:auto;
  text-align: center;
}
.box1{
  border: 5px red;
  border-style: dotted;

}
.my-form
{
  display: block;
  padding: 10px
}
.my-form label{
  display: block;
}
.button{
  padding:10px;
  background-color: rgb(200,0,0);
  color:rgb(0,255,255);
  font-style: normal;
  border:none;
}
.button:hover{
  color: white;
  background: blue;
}
.p-box{
  width: 150px;
  height: 150px;
  border:1px solid#ffffff;
  position: relative;
  background-image: url('../images/light-on_small.jpg');
}
