h1{
  color: #FBE094;
  font-family: "Courier New";
}
body{
  background-color: #243680;
  color: #ffffff;
  font-family: "Courier New";
  font-size:20px;
  margin: 0
}

.container{
  width:80%;
  margin-left:10%;
  margin-top: 10%;
  margin-bottom:10%;
  text-align: center;
  border: 5px #7899cc;
  border-style: dotted;
}
.box1{
  border: 5px #7899cc;
  border-style: dotted;
  width: 500px;
  margin-left: auto;
  margin-right: auto;

}
.my-form
{
  display: block;
  padding: 10px
}
.my-form label{
  display: block;
}
.button{
  padding:10px;
  background-color: #FBE094;
  color: #db5400;
  font-style: normal;
  border: 5px;
  border-color: #db5400;
}
.button:hover{
  color: white;
  background: #db5400;
}
.p-box{
  width: 150px;
  height: 150px;
  border:1px dotted#ffffff;
  margin-left: auto;
  margin-right: auto;
  // position: relative;
  // background-image: url('../images/light-on_small.jpg');
}
.time-view{
 font-size:25px;
 color: #FBE094;
 font-family: "Courier New";
}
.hyper{
  color: #FBE094;
  font-size:25px;
}
a:link{
  color:red;
  font-size:25px;

}
a:visited{
  color: green;
  font-size:25px;

}
a:hover{
  color:hotpink;
  font-size:30px;

}
